services:
  postgres:
    image: postgres:16
    container_name: pg
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: sms
    ports:
      - "127.0.0.1:55001:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: